*{
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Josefin Sans', sans-serif;

}

.container{
	width: 1140px;
	margin: 0px auto;
}

.contact-us{
	width: 100%;
	float: left;
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.heading{
	width: 50%;
	float: left;
	padding: 30px 0px;
}

.heading h2{
	text-transform: uppercase;
	font-size: 30px;
	color: white;
	margin: 20px 20px;
	font-weight: normal;
}

.heading p{
	font-size: 15px;
	color: white;
	margin: 20px 20px;
}

.heading ul{
	list-style: none;
}

.heading ul li{
	color: white;
	margin: 5px 20px;
}

.bt{
	background-color: #1ac6ff;
	border-radius: 20px;
	margin: 5px 10px;
	padding: 10px 0px;
	font-size: 15px;
	text-align: center;
	border: none;
}

.signup-form{
	width: 40%;
	float: left;
	margin: 50px 0px;
	padding: 30px 0px;
	background-color: #0099cc;
	
}

.signup-form h2{
	text-align: center;
	color: white;
	text-transform: uppercase;
}

.signup-form p{
	text-align: center;
	color: white;
	margin: 5px 20px 20px 20px;
}

.form-control{
	width: 65%;
	padding: 10px 10px;
	margin: 5px 50px;
}

.btn{
	width: 70%;
	padding: 10px 10px;
	margin: 5px 50px;
	text-transform: uppercase;
}
